{% extends "network/layout.html" %}

{% block body %}

<h1>Following</h1>
    <h1>{{request.user.username}}</h1>
    {% for posts in post %}
        <div class="Post">
            <h4>{{posts.user.username}}</h4>
            <a href="{% url 'index' %}">Edit</a>
            <p> {{posts.post}} <br></p>
            <p style="color: gray;" >{{posts.date}}</p>
            <button>{{posts.likes}} like</button><br>
            <a href="{% url 'index' %}">comment</a>
         </div>
    {% endfor %}
{% endblock %}