{% extends "network/layout.html" %}

{% block body %}

<h1>Following</h1>
    <h1>{{request.user.username}}</h1>
    <!-- {% for item in list %}
        <h1>item : {{item.follower_id.username}}</h1>
    {% endfor %} -->

    {% for posts in post %}
        <div class="Post">
            <!-- TODO: This is broken...needs to link to users profile that was clicked on. -->
            <a href="{% url 'index' %}"><h4>{{posts.user.username}}</h4></a>
            {% if posts.user.username == request.user.username %}
            <button>Edit</button>
            {% endif %}
            <p> {{posts.post}} <br></p>
            <p style="color: gray;" >{{posts.date}}</p>
            <button>{{posts.likes}} like</button><br>
            <a href="{% url 'index' %}">comment</a>
         </div>
    {% endfor %}
{% endblock %}