{% extends "network/layout.html" %}

{% if message %}
<div>{{ message }}</div>
{% endif %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
    <div class="NewPost"> 
        
        <form action="{% url 'addPost' %}" method="post">
            {% csrf_token %}
            <h5>What's on your mind {{request.user.username}} ?</h5>
            {{ form }}
            <!-- <input class="textarea" type="text", name="New Post", placeholder="post"> -->
            <input class="button" type="submit" value="Post">
        </form>

    </div>
    {% endif %}
    
    {% for posts in post %}
    <div class="Post">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' posts.user.username %}"><h4>{{posts.user.username}}</h4></a>
        {% else %}
            <h4>{{posts.user.username}}</h4>
        {% endif %}

        {% if posts.user.username == request.user.username %}
        <a href="{% url 'index' %}">Edit</a>
        {% endif %}
        <p> {{posts.post}} <br></p>
        <p style="color: gray;" >{{posts.date}}</p>
        <button>{{posts.likes}} like</button><br>
        <a href="{% url 'index' %}">comment</a>
    </div>
    {% endfor %}
<div class = "page">
    {% if page.has_previous %}
        <a  href="{% url 'index' %}?page={{page.previous_page_number}}">| Previous |</a>
    {% endif %}

    {% if page.has_next %}
        <a  href="{% url 'index' %}?page={{page.next_page_number}}">| Next |</a>
    {% endif %}
    
</div>


{% endblock %}