{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>

    <div class="NewPost"> 
        
        <form action="{% url 'addPost' %}" method="post">
            {% csrf_token %}
            <h5>What's on your mind {{request.user.username}} ?</h5>
            {{ form }}
            <!-- <input class="textarea" type="text", name="New Post", placeholder="post"> -->
            <input class="button" type="submit" value="Post">
        </form>

    </div>
    
    
    {% for posts in post %}
    <div class="Post">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' posts.user.username %}"><h4>{{posts.user.username}}</h4></a>
        {% else %}
            <h4>{{posts.user.username}}</h4>
        {% endif %}

        <a href="{% url 'index' %}">Edit</a>
        <p> {{posts.post}} <br></p>
        <p style="color: gray;" >{{posts.date}}</p>
        <button>{{posts.likes}} like</button><br>
        <a href="{% url 'index' %}">comment</a>
    </div>
    {% endfor %}

    



{% endblock %}