div.NewPost{
    width: 80%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
input.button{
   align-items: left;
   margin-top: 5px;
   display: block;
   background-color: #2268d1;
   border-radius: 5px;

}
div.Post{
   
    width: 80%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
div.header{
   
    margin-left: 10%;
}
h1{
    text-align: center;
}
div.page{
    text-align: center;
    margin: 3%;
}

